<div class="container">
  <h1>Página Sobre</h1>
  <p>
    Aqui estão os detalhes sobre como foi criado este exemplo e minha linha de
    raciocínio. Utilizei recursos do Angular para implementar a alternância de
    temas (Light e Dark) e a exibição da localização atual no topo da página. O
    objetivo é oferecer aos usuários a possibilidade de personalizar a aparência
    do site de acordo com suas preferências, enquanto aproveitam os benefícios
    do framework Angular.
  </p>
  <h1>Qual a utilidade.</h1>
  <p>
    A melhoria da experiência do usuário é um aspecto crucial no design de sites
    e aplicativos modernos. À medida que a tecnologia evolui, os desenvolvedores
    estão constantemente buscando maneiras de tornar a interação com os usuários
    mais intuitiva, agradável e envolvente. O Angular, um framework robusto e
    popular, oferece recursos que ajudam nesse processo. Ao utilizar o Angular
    para criar um site simples, meu objetivo foi demonstrar como é possível
    elevar a experiência do usuário a um novo nível. Através de recursos
    dinâmicos e interativos, busquei proporcionar aos usuários uma sensação de
    fluidez e facilidade de uso. Uma das funcionalidades implementadas foi a
    opção de trocar o fundo das páginas. Reconhecendo que as preferências
    pessoais podem variar, ofereci aos usuários a escolha entre um tema claro e
    um tema escuro. Essa flexibilidade permite que cada pessoa adapte a
    experiência visual de acordo com suas preferências individuais. A inclusão
    do tema escuro não apenas visa atender às preferências daqueles que preferem
    um ambiente de leitura mais suave, mas também considera questões como
    conforto visual e acessibilidade. Para muitos usuários, um tema escuro pode
    proporcionar uma experiência mais agradável, reduzindo o cansaço visual e
    melhorando a legibilidade. Ao oferecer a opção de trocar o fundo das
    páginas, meu objetivo é proporcionar uma experiência personalizada, onde os
    usuários possam sentir-se confortáveis e engajados. A capacidade de
    adaptar-se às preferências individuais é uma maneira eficaz de aumentar a
    satisfação do usuário e promover uma interação positiva com o site. Em
    resumo, ao utilizar o Angular para criar um site com opção de troca de fundo
    das páginas, busquei proporcionar uma experiência do usuário mais agradável,
    dinâmica e intuitiva. Reconhecendo a importância da personalização e das
    preferências individuais, essa funcionalidade visa aumentar a satisfação do
    usuário e oferecer uma experiência que se adapte às necessidades de cada
    pessoa.
  </p>

  <h1>Framework e ferramentas:</h1>

  <h2>Angular.</h2>
  <p>
    O Angular CLI, abreviação de (Command Line Interface) é um framework de
    linha de comando que facilita o desenvolvimento de projetos com o Angular. É
    poderoso e auxilia os desenvolvedores a criar componentes, serviços,
    módulos, rotas e outras estruturas do projeto de maneira mais eficiente. Os
    desenvolvedores podem usar comandos simples para criar automaticamente
    arquivos e configurar o ambiente do projeto. Ele automatiza tarefas
    repetitivas e tediosas, permitindo que os desenvolvedores se concentrem na
    lógica do aplicativo em vez de se preocuparem com a configuração inicial e a
    estruturação do projeto. Além de ajudar na criação de código, oferecendo
    recursos para compilar, testar e implantar o. Com apenas alguns comandos,
    você pode iniciar um servidor de desenvolvimento local, gerar uma versão
    otimizada para produção e executar testes unitários e de integração. Em
    resumo, o Angular CLI é uma ferramenta poderosa que simplifica o processo de
    desenvolvimento e criação de projetos com o Angular, tornando-o mais
    eficiente e produtivo para os desenvolvedores.
  </p>

  <h2>Node JS.</h2>
  <p>
    Node.js é um ambiente de tempo de execução de código aberto que permite
    executar JavaScript no lado do servidor. Ele usa o motor JavaScript V8 do
    Chrome e é conhecido por sua eficiência e escalabilidade. Ao contrário do
    JavaScript tradicional, que é executado no navegador, possibilita o uso do
    JavaScript no servidor. Isso torna mais fácil para os desenvolvedores criar
    aplicativos web completos usando uma única linguagem de programação. O
    Node.js é altamente eficiente porque utiliza um modelo de E/S não bloqueante
    e orientado a eventos. Isso significa que pode lidar com várias solicitações
    simultâneas sem bloquear o fluxo de execução, resultando em um desempenho
    rápido e responsivo. Além disso, o Node.js possui um vasto ecossistema de
    módulos e pacotes gerenciados pelo npm, que é um sistema de gerenciamento de
    pacotes. Isso permite que os desenvolvedores acessem uma ampla variedade de
    bibliotecas e frameworks prontos para uso, acelerando o desenvolvimento de
    aplicativos. Em resumo, o Node.js é uma plataforma popular para a criação de
    aplicativos web do lado do servidor usando JavaScript. Ele oferece
    eficiência, escalabilidade e acesso a um ecossistema rico de recursos para
    facilitar o desenvolvimento.
  </p>

  <h2>Google Fonts.</h2>
  <p>
    O Google Fonts é uma biblioteca de fontes gratuita fornecida pelo Google.
    Ele oferece uma ampla seleção de fontes de alta qualidade para uso em
    projetos de design e desenvolvimento web. Com o Google Fonts, os designers e
    desenvolvedores têm acesso a uma variedade de estilos de fontes e podem
    incorporá-las facilmente em seus sites, garantindo uma aparência consistente
    e legibilidade em diferentes navegadores e dispositivos. É uma solução
    conveniente e confiável para obter fontes personalizadas em projetos web.
  </p>
  <h2>Figma.</h2>
  <p>
    Figma é uma ferramenta de design colaborativo baseada na nuvem. Ela permite
    que equipes trabalhem juntas em tempo real, criando layouts, protótipos e
    componentes reutilizáveis. Com recursos de compartilhamento e comentários, o
    Figma facilita a colaboração e a obtenção de feedback. Sua interface
    intuitiva e compatibilidade com várias plataformas tornam o processo de
    design mais eficiente e produtivo.
  </p>
  <br /><br />
</div>
