<div class="container">
  <h1>Página Home</h1>
  <p>
    Olá! Neste exemplo, apresento um recurso de alternância entre os temas Light
    e Dark. No canto superior direito, você encontrará um ícone representado por
    uma meia lua. Ao clicar nesse ícone, a página será automaticamente alterada
    para o tema Dark, acompanhado do ícone do sol. Essa funcionalidade visa
    oferecer aos usuários a opção de personalizar a aparência do site de acordo
    com suas preferências visuais. Além disso, você pode observar que no topo da
    página, substituindo o título convencional, é exibida a sua localização
    atual, que neste caso está definida como 'Home'. Essa é mais uma facilidade
    proporcionada pela nova versão do Angular, um framework moderno e avançado,
    que agrega recursos e melhorias ao desenvolvimento de aplicações web. Com
    essa abordagem, buscamos proporcionar aos usuários uma experiência mais
    agradável e intuitiva, onde eles podem escolher o tema de acordo com suas
    preferências pessoais, enquanto também aproveitam recursos adicionais que
    facilitam a navegação e a interação com o site. A utilização de recursos
    como a alternância de temas e a exibição de informações relevantes na
    interface é uma forma de demonstrar como a aplicação de tecnologias
    atualizadas, como o Angular, pode aprimorar a experiência do usuário e
    tornar a interação com o site mais eficiente e agradável.
  </p>
  <h2>Clique em sobre para continuar!</h2>
</div>
